<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>与创业大咖同行</title>
</head>
<body>
	<div style="width: 80%;margin: 4rem auto; margin-top: 2rem;">
		<img src="/static/v1/img/2.jpg" style="width: 80%;margin: 2rem 10%;"/>
		<div style="font-size: 0.9rem;color: gray;line-height: 1.8rem;text-align: center;">好的资源社区需要大家共同维护，资源社区为创业大咖而开，扫描二维码添加客服微信，客服会给您邀请码，期待您的到来。</div>
	</div>
</body>
</html>