Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
Werkzeug==0.11.4
amqp==1.4.9
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.23
celery==3.1.23
colorama==0.3.7
gevent==1.1.0
greenlet==0.4.9
gunicorn==19.4.5
importlib==1.0.3
itsdangerous==0.24
kombu==3.0.35
ordereddict==1.1
pytz==2016.3
qiniu==7.0.6
redis==2.10.5
requests==2.9.1
six==1.10.0
wsgiref==0.1.2
xpinyin==0.5.4
