<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>岭南会名片社区管理系统</title>
		<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
	    {% block css %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        {% block js %}{% endblock %}
    </body>
</html>